import asyncio
import sqlite3
import aiogram
from aiogram import Bot, types
from aiogram.types import InlineKeyboardMarkup, InlineKeyboardButton

bot_token = '7561318621:AAHLIMv1cQPXSkBYWkFCeys5XsXg2c4M3fc'
bot = Bot(token=bot_token)

async def send_broadcast():
    conn_users = sqlite3.connect('users.db')
    conn_chats = sqlite3.connect('chats.db')
    cursor_users = conn_users.cursor()
    cursor_chats = conn_chats.cursor()
    cursor_users.execute("SELECT id FROM users")
    cursor_chats.execute("SELECT chat_id FROM chats")
    users = cursor_users.fetchall()
    chats = cursor_chats.fetchall()
    conn_users.close()
    conn_chats.close()

    keyboard = InlineKeyboardMarkup()
    button_add_bot = InlineKeyboardButton(text='Добавить бота 🤖', url='https://t.me/mglgamebot?startgroup=MGL&admin=change_info+restrict_members+delete_messages+pin_messages+invite_users')
    keyboard.add(button_add_bot)

    message_text = "<b>🚀 Предложение от MGL Bot 📢</b>\n"
    message_text += "<i>Внимание всем пользователям! У нас есть уникальное предложение для владельцев больших групп и чатов!</i>\n"
    message_text += "<i>🎉Если вы добавите нашего бота MGL 🤖 и предоставите ему права администратора в вашем чате, где более 1000 подписчиков (без накрутки) 📊, вы получите VIP-статус в боте на целый месяц!</i>\n"
    message_text += "<b>🥇Это ваш шанс получить специальные привилегии и возможности, доступные только для VIP-пользователей 😀</b>\n"
    message_text += "Чтобы получить свою награду, просто сделайте скриншот и отправьте его в ЛС @fixouck_qq 📩 Не упустите эту замечательную возможность! ❤"

    success_chats = 0
    success_users = 0

    for user in users:
        try:
            await bot.send_message(user[0], message_text, reply_markup=keyboard, parse_mode='HTML')
            success_users += 1
            await asyncio.sleep(0.15)
        except aiogram.exceptions.BotBlocked:
            print(f"Target [ID:{user[0]}]: blocked by user")
        except Exception as e:
            print(f"Target [ID:{user[0]}]: {e.__class__.__name__}")

    for chat in chats:
        try:
            await bot.send_message(chat[0], message_text, reply_markup=keyboard, parse_mode='HTML')
            success_chats += 1
            await asyncio.sleep(0.15)
        except aiogram.exceptions.BotBlocked:
            print(f"Target [ID:{chat[0]}]: blocked by user")
        except Exception as e:
            print(f"Target [ID:{chat[0]}]: {e.__class__.__name__}")

    print(f"Успешно отправлено в {success_chats} чатов, и в {success_users} ЛС! 😎")

async def main():
    print("Рассылка отправляется")
    await send_broadcast()
    print("Рассылка отправлена")

asyncio.run(main())